name: Generate rule set files

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  main:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      GIT_TRACE: 2
      GIT_CURL_VERBOSE: 2
      GIT_TRACE_PERFORMANCE: 2
      GIT_TRACE_PACK_ACCESS: 2
      GIT_TRACE_PACKET: 2
      GIT_TRACE_PACKFILE: 2
      GIT_TRACE_SETUP: 2
      GIT_TRACE_SHALLOW: 2
      GOFLAGS: "-v"
      PATH: ${{ github.workspace }}/go/bin:$PATH
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y make curl tar

      - name: Use Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'

      - name: Create working directory
        run: mkdir -p configs

      - name: Download SRS files
        working-directory: ./configs
        run: |
          for file in \
            geoip-cn geosite-cn geosite-private \
            geosite-category-porn geosite-category-cryptocurrency geosite-category-vpnservices \
            geosite-category-entertainment-cn geosite-category-entertainment@cn \
            geosite-category-games@cn geosite-category-game-accelerator-cn \
            geosite-category-enhance-gaming@cn geosite-category-novel; do
              curl -L -o "$file.srs" "https://github.com/SagerNet/sing-geosite/raw/refs/heads/rule-set/$file.srs" --trace --trace-time
          done

      - name: Clone sing-box
        run: git clone -v --depth 1 https://github.com/SagerNet/sing-box.git

      - name: Build and install sing-box
        working-directory: ./sing-box
        run: |
          export GOPATH=$HOME/go
          make install --trace

      - name: Decompile rule set files
        working-directory: ./configs
        run: |
          for f in *.srs; do
            sing-box rule-set decompile "$f" -o "${f%.srs}.json"
          done

      - name: Merge rule set files
        working-directory: ./configs
        run: |
          sing-box rule-set merge -c geosite-cn.json -c geosite-private.json geosite-direct.json
          sing-box rule-set merge \
            -c geosite-category-porn.json \
            -c geosite-category-cryptocurrency.json \
            -c geosite-category-vpnservices.json \
            -c geosite-category-entertainment-cn.json \
            -c geosite-category-entertainment@cn.json \
            -c geosite-category-games@cn.json \
            -c geosite-category-game-accelerator-cn.json \
            -c geosite-category-enhance-gaming@cn.json \
            -c geosite-category-novel.json \
            geosite-reject.json

      - name: Compile rule set files
        working-directory: ./configs
        run: |
          sing-box rule-set compile geosite-direct.json -o ../geosite-direct.srs
          sing-box rule-set compile geosite-reject.json -o ../geosite-reject.srs

      - name: Clean up working directory
        working-directory: ./configs
        run: |
          mv -v geoip-cn.srs ../geoip-direct.srs
          rm -rvf configs

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "actions@github.com"
          git add -v geosite-direct.srs geosite-reject.srs geoip-direct.srs
          if ! git diff --cached --quiet; then
            git commit -v -m "[CI] Update rule set files regularly"
            git push -v origin HEAD
          else
            echo "No changes to commit, skipping push."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
